on: [push]

jobs:
  hello_world_job:
    runs-on: ubuntu-latest
    name: A job to say hello
    steps:
      - name: Hello world action step
        id: hello
        uses: fiddlermikey/hello-world-javascript-action@pulls-commits
        with:
          who-to-greet: 'Mikey'
          token: 
      # Use the output from the `hello` step
      - name: Get the output time
        run: echo "The time was ${{ steps.hello.outputs.time }}"
      - name: Get the repo name
        run: echo "The time was ${{ steps.hello.outputs.rName }}"
        